@import "reset.css";
@import "menu.css";
@import "style.css";

footer {
  height: 10em;
  border-top: 2px solid var(--c-lightpink);
}

.navbar-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  align-items: center;
  max-width: 1000px;
  padding: 3em 0;
  line-height: 1.5em;
}

.social-media-container {
  display: flex;
  justify-content: space-between;
  width: 20rem;
  margin-bottom: 2rem;
}

.subscribe-text {
  display: none;
}

.fa-brands {
  font-size: 2.25rem;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  width: 20rem;
  font-size: 1.5rem;
}

.footer-menu a:hover {
  text-decoration: underline;
}

.subscription-form-container {
  width: 300px;
  margin-bottom: 2rem;
}

.subscription-items {
  border: 1px solid var(--c-lightpink);
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.email-box {
  width: 80%;
  padding: 0.75em;
  font-size: 1.5rem;
  border: 1px solid var(--c-lightpink);
  border: none;
}

.email-box:hover {
  background-color: var(--c-lightpink);
  border: none;
  transition: 250ms;
}

.submit {
  width: 20%;
  border: none;
  background-color: var(--c-primary-dark);
  color: var(--c-primary-light);
}

.submit:hover {
  background-color: var(--c-primary-light);
  color: var(--c-primary-dark);
  transition: 250ms;
}

input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}

input[type="submit"] {
  font-size: 1.25rem;
  width: 20%;
}

@media screen and (min-width: 850px) {
  .navbar-wrapper {
    max-width: 1000px;
    flex-direction: row;
    justify-content: space-evenly;
    line-height: 4em;
  }

  .subscription-form-container {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .subscribe-text {
    display: block;
  }

  .social-media-container,
  .footer-menu {
    display: flex;
    flex-direction: row;
  }

  .fa-brands,
  .menu-item {
    padding: 0 1em;
  }

  .footer-menu {
    font-size: 1.65rem;
  }
}
