/** @format */

@import "reset.css";
@import "menu.css";
@import "footer.css";

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,500&family=Montserrat:wght@400;500;700&display=swap");

:root {
  --c-primary-dark: rgb(33, 33, 33);
  --c-primary-light: rgba(251, 250, 249, 255);
  --c-lightpink: #f2e6ea;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  background-color: var(--c-primary-light);
  color: var(--c-primary-dark);
  font-size: 1.6em;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  overflow-x: hidden;
}

.landing-page {
  margin: auto;
  width: 100%;
  margin-top: 10em;
}

.landing-page {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--c-primary-light);
}

.video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-wrap video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.landing-page-overlay {
  min-width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--c-primary-dark);
  opacity: 60%;
  z-index: 1;
}

.main-content {
  padding-top: 10em;
  z-index: 2;
  font-family: "Lora", serif;
  line-height: 5rem;
  width: 80%;
  font-weight: lighter;
  font-size: 1.5rem;
}

.main-content h1 {
  line-height: 8rem;
  font-size: 4rem;
}

.main-content h1 span {
  font-size: 6.5rem;
  font-style: italic;
}

.main-content h3 span {
  font-style: italic;
  font-size: 1.7rem;
}

a {
  text-decoration: none;
  color: var(--c-primary-dark);
}

.down-arrow {
  position: absolute;
  top: calc(100vh - 200px);
  left: 50%;
  width: 0;
  height: 40px;
  border: 1px solid;
  border-radius: 2px;
  animation: jumpInfinite 1.5s infinite;
  margin: 0 auto;
}

.down-arrow:after {
  content: " ";
  position: absolute;
  top: 20px;
  left: -10px;
  width: 17.3px;
  height: 16px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  border-radius: 4px;
  transform: rotateZ(45deg);
  margin: 0 auto;
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }

  50% {
    margin-top: 20px;
  }

  100% {
    margin-top: 0;
  }
}

.blog-category-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
}

.anti-aging-blog,
.product-blog {
  display: grid;
  grid-template-columns: 55% 45%;
}

.blog-title {
  width: 80%;
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
  margin-bottom: 2.5rem;
}

.treatment-blog {
  display: grid;
  grid-template-columns: 45% 55%;
  background-color: var(--c-lightpink);
}

.blog-image {
  height: 667.55px;
  overflow: hidden;
  width: 100%;
}

.blog-content {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  width: 60%;
  min-height: 80%;
  background-color: rgba(131, 123, 123, 0.2);
  overflow: hidden;
}

.blog-text {
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  text-align: justify;
  width: 80%;
}

.blog-link {
  padding: 0.5em 1em;
  text-align: center;
  margin-top: 3em;
  border: none;
  font-size: 1.5rem;
  background-color: var(--c-primary-dark);
  color: var(--c-primary-light);
}

.blog-link:hover {
  background-color: var(--c-primary-light);
  color: var(--c-primary-dark);
}

@media screen and (min-width: 1250px) {
  html {
    font-size: 80%;
  }
}

@media screen and (min-width: 501px) and (max-width: 900px) {
  html {
    font-size: 60%;
  }
}

@media screen and (max-width: 740px) {
  .video-wrap {
    display: none;
  }

  .landing-page {
    background: url("/images/vdo-thumbnail.jpg") no-repeat center center / cover;
  }

  .main-content,
  .main-content h3 > span {
    padding-top: 1.25em;
    font-size: 1.75rem;
  }

  .main-content > h1 {
    font-size: 4.7rem;
  }

  .main-content h1 > span {
    display: none;
  }

  .blog-image {
    display: none;
  }

  .anti-aging-blog,
  .product-blog,
  .treatment-blog {
    display: grid;
    grid-template-columns: 100% 0%;
  }

  .blog-content {
    padding-top: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .blog-link {
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 600px) {
  .landing-page {
    margin-top: 5em;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 50%;
  }

  .blog-title {
    font-size: 2rem;
  }
}

@media (orientation: landscape) {
  .main-content,
  .main-content h3 > span {
    padding-top: 0em;
    font-size: 1.5rem;
  }

  .main-content > h1 {
    font-size: 4rem;
  }
}

@media only screen and (min-device-width: 741px) and (orientation: landscape) {
  .main-content {
    padding-top: 4em;
    font-size: 1.5rem;
  }

  .main-content > h1 {
    font-size: 3rem;
  }

  .main-content > h1 > span {
    font-size: 5rem;
  }
}

@media only screen and (max-device-height: 520px) and (orientation: landscape) {
  .down-arrow {
    display: none;
  }
}
